<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Oculus | ADHD</title>

    <style>
        .card {
            background-color: rgb(39, 38, 38);
            transition-delay: 2s ease;
            color: white;
            border: 1px solid #FD6A02;
            height: 4rem;
            width: 10rem;
            margin-top: 5rem;
        }

        .card:hover {
            -webkit-box-shadow: -1px 0px 17px 4px rgba(253, 106, 2, 1);
            -moz-box-shadow: -1px 0px 17px 4px rgba(253, 106, 2, 1);
            box-shadow: -1px 0px 17px 4px rgba(253, 106, 2, 1);
        }

        .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active { 
            border: 1px solid #FD6A02;
            background-color: rgb(39, 38, 38);
        }

        .nav-tabs {
            border-bottom: 1px solid #FD6A02;
        }
    </style>
</head>

<body style="background-color: rgb(39, 38, 38);">

    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="{{ url_for('home') }}" style="color: white;">
            <img src="{{ url_for('static', filename='logo.png') }}" alt="" srcset="" width="100px">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">

            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="{{ url_for('about') }}" style="color: white;">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('test') }}" style="color: white;">Take Test</a>
                </li>
                <li class="nav-item">
                    <!-- <a class="nav-link" href="#" style="color: white;">Link</a> -->
                </li>
            </ul>
        </div>
    </nav>
    <br>

        <center>
            <div class="card" style="border-radius: 1rem;">

                <center>
                    <div class="card-body">
                        <a href="{{ url_for('adhdRes') }}" style="text-decoration: none; color: white">
                            <h5 class="card-title"> Start Test!
                            </h5>
                        </a>
                    </div>
                </center>
            </div>

            <br><br>

        <ul class="nav nav-tabs" id="myTab" role="tablist" style="width: 80%;">
            <li class="nav-item">
              <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">EASY</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">MEDIUM</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">HARD</a>
            </li>
          </ul>
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <div class="container"><br><br>
                <p style="color: white; font-size: xx-large;">Mahabharat tells the story of Hastinapur, a kingdom ruled by the Kuru clan where the Kaurava and the Pandava brothers compete for its throne. The Pandavas are the sons of Pandu, and the Kauravas are the sons of Dhritrashtra. Yudhistira (the eldest Pandav brother) and Duryodhan, the eldest Kaurava brother, claim to be next in the line of succession.</p>
            </div>
            </div>
            
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <div class="container"><br>
                <p style="color: white;  font-size: xx-large;">The story begins with Devavrata, the son of Shantanu and Ganga and a disciple of Parshuram. Devavrata earns the name Bhisma by taking an oath of celibacy to fulfill his father's wish to marry Satyavati. He also vows to serve the throne of Hastinapur and is granted icchya-mrityu (the ability to live forever, as long as he does not choose to die). Bhisma gives up his rightful throne, and Satyavati rules the kingdom as the Rajmaata (mother of the king) after her husband's death. Her son, Vichitravirya, is an alcoholic who is dependent on Bhisma. He cannot rule the kingdom, leading Satyavati to decide that Vichitravirya's future son must rule the kingdom.

                    </p>
                </div>
            </div>
            
            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                <div class="container"><br>
                <p style="color: white; font-size: xx-large;">In Kuntibhoj, Princess Kunti obtains a boon from the sage Durvasa enabling her to invoke any deity and bear his child. She tests the blessing, calling on the Sun God and being given a son named Karna. An unmarried woman, Kunti sets Karna afloat on the Ganges to avoid embarrassment. She later marries Pandu, son of Vichitravirya, and invokes other deities to give her three sons: Yudhistira, Bhima, and Arjuna. Madri, Pandu's second wife, invokes the Ashwini Kumaras to bear Nakula and Sahadeva. Ahe and Pandu die of a curse by Rishi Kimdam, and Kunti decides to raise the five children together.

                    Karna is raised by a charioteer named Adirath and his wife, Radha. Belonging to a lower-caste family, he is often mistreated but becomes a skilled archer. Karna's true identity is not revealed until the end of the Kurukshetra War.
                    
                    </p>
            </div>
        </div>
          </div>

    
            <h1 style="color: #FD6A02;">{{prediction}}</h1>
        </center>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>
</body>

</html>