<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Oculus</title>

    <style>
        .btn-outline-dark:hover{
            background-color: rgb(39, 38, 38);
            -webkit-box-shadow: -1px 0px 17px 4px rgba(253,106,2,1);
            -moz-box-shadow: -1px 0px 17px 4px rgba(253,106,2,1);
            box-shadow: -1px 0px 17px 4px rgba(253,106,2,1);
            transition-delay: 1.5s ease;
        }
    </style>

</head>

<body style="background-color: rgb(39, 38, 38);">

    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="{{ url_for('home') }}" style="color: white;">
            <img src="{{ url_for('static', filename='logo.png') }}" alt="" srcset="" width="100px">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">

            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="{{ url_for('about') }}" style="color: white;">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('test') }}" style="color: white;">Take Test</a>
                </li>
                <li class="nav-item">
                    <!-- <a class="nav-link" href="#" style="color: white;">Link</a> -->
                </li>
            </ul>
        </div>
    </nav>
    <br>
    
    <!-- banner -->
    <div class="jumbotron jumbotron-fluid" style="background-color: transparent; margin-top: 6rem;">
        <center>
            <h1 class="display-1" style="color: white;"> 
                <span class="display-4">project</span><span style="color: #FD6A02"> OCULUS</span></h1>
            <!-- <p class="lead" style="color: white;">project_desc</p> -->
            <hr class="my-4" style="background-color: white; width: 70%"/>
            <p class="lead">
                <a class="btn btn-outline-dark btn-lg" href="{{ url_for('test')}}" role="button" style="color: #FD6A02; border-color: #FD6A02;">Test Now!</a>
            </p>
        </center>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>
</body>

</html>